{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link rel="stylesheet" href="{% static 'etudiants/css/parametres.css' %}">

  <title>ISFAD | Parametres </title>

</head>
<body>
  
  <div class="container">
    <h1>Paramètres du compte</h1>
    <ul>
      <li><a href="changer_couleur.html">Changer la couleur du fond de la page</a></li>
      <li><a href="disposition_lecons.html">Modifier la disposition d'apparition des leçons</a></li>
      <li><a href="{% url 'profil'%}">Modifier les informations du profil</a></li>
      <li><a href="{% url 'profil'%}#lien">Changer le mot de passe</a></li>
      <li><form action="{% url 'deconnection' %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-link text-white p-0" style="text-decoration:none;">
        <i class="fas fa-sign-out-alt"></i> Déconnexion
    </button>
</form>
</li>
    </ul>
  </div>
</body>
</html>
